einops==0.7.0
etw-pytorch-utils==1.1.2
future==0.18.3
h5py==3.10.0
matplotlib==3.8.2
mpmath==1.3.0
natsort==8.4.0
numpy==1.26.1
packaging==23.2
pip==23.3
progressbar==2.5
scikit-learn==1.3.2
scipy==1.11.3
tensorboardX==2.6.2.2
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1
visdom==0.2.4
yacs==0.1.8
